<%= form_for @person do |f| %>
  <% if @person.errors.any? %>
    <div class="alert alert-danger">
      <% @person.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :first_name, :class => "control-label" %>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, :class => "control-label" %>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => "control-label" %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :picture, :class => "control-label" %>
    <%= f.file_field :picture, :class => "form-control" %>
  </div>

  <%= f.submit "Save", :class => "btn btn-primary" %>

  <% unless @person.new_record? %>
    <%= link_to "Delete person", person_path(@person),
      :class => "btn btn-primary",
      "data-method" => "delete",
      "data-confirm" => "Are you sure? This will also nullify the person's votes"
    %>
  <% end %>

<% end %>